@page
@model Computer_Craft.Pages.AdminDashboard.DashoardModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Dashboard</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="~/css/adminstyle.css">
    <link rel="icon" href="~/Images/Logo/laptop.svg" type="image/x-icon" />

    <style>
        table img {
            max-width: 50px; /* Adjust size as needed */
            height: auto;
            border-radius: 5px;
        }

        /* Optional: add some space around table rows */
        table tr {
            padding: 8px 0;
        }

        main .recent-products table {
            background-color: var(--color-white);
            width: 140%; /* Adjusted width to fit container */
            padding: var(--card-padding);
            text-align: center;
            box-shadow: var(--box-shadow);
            border-radius: var(--card-border-radius);
            transition: all 0.3s ease;
        }

        .recent-products {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <aside>
            <div class="toggle">
                <div class="logo">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><!--!Font Awesome Free 6.6.0 by fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                        <path fill="#007bff" d="M218.3 8.5c12.3-11.3 31.2-11.3 43.4 0l208 192c6.7 6.2 10.3 14.8 10.3 23.5l-144 0c-19.1 0-36.3 8.4-48 21.7l0-37.7c0-8.8-7.2-16-16-16l-64 0c-8.8 0-16 7.2-16 16l0 64c0 8.8 7.2 16 16 16l64 0 0 128-160 0c-26.5 0-48-21.5-48-48l0-112-32 0c-13.2 0-25-8.1-29.8-20.3s-1.6-26.2 8.1-35.2l208-192zM352 304l0 144 192 0 0-144-192 0zm-48-16c0-17.7 14.3-32 32-32l224 0c17.7 0 32 14.3 32 32l0 160 32 0c8.8 0 16 7.2 16 16c0 26.5-21.5 48-48 48l-48 0-192 0-48 0c-26.5 0-48-21.5-48-48c0-8.8 7.2-16 16-16l32 0 0-160z" />
                    </svg>
                    <h2>Computer<span class="danger"> Craft</span></h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">
                        close
                    </span>
                </div>
            </div>
            <div class="sidebar">
                <a href="#" class="active">
                    <span class="material-icons-sharp">dashboard</span>
                    <h3>Dashboard</h3>
                </a>
                <a href="/AdminDashboard/Orders">
                    <span class="material-icons-sharp">receipt_long</span>
                    <h3>Orders</h3>
                </a>
                <a href="/AdminDashboard/Users">
                    <span class="material-icons-sharp">person_outline</span>
                    <h3>Users</h3>
                </a>
                <a href="/AdminDashboard/DashboardDesktop">
                    <span class="material-icons-sharp">desktop_windows</span>
                    <h3>Desktops</h3>
                </a>
                <a href="/AdminDashboard/DashboardLaptop">
                    <span class="material-icons-sharp">laptop_mac</span>
                    <h3>Laptops</h3>
                </a>
                <a href="/AdminDashboard/DashboardNetwork">
                    <span class="material-icons-sharp">router</span>
                    <h3>Network Parts</h3>
                </a>
                <a href="/AdminDashboard/DashboardSecurity">
                    <span class="material-icons-sharp">vpn_key</span>
                    <h3>Security Parts</h3>
                </a>
                <a href="/AdminDashboard/DashboardComponents">
                    <span class="material-icons-sharp">important_devices</span>
                    <h3>Components</h3>
                </a>
                <a href="/AdminDashboard/DashboardAccessories">
                    <span class="material-icons-sharp">phonelink</span>
                    <h3>Accessories</h3>
                </a>
                <a href="/AdminDashboard/AddAdmin">
                    <span class="material-icons-sharp">person_add</span>
                    <h3>New Admin</h3>
                </a>
                <a href="/Logout">
                    <span class="material-icons-sharp">logout</span>
                    <h3>Logout</h3>
                </a>
            </div>
        </aside>

        <main>
            <h1>Analytics</h1>
            <div class="analyse">
                <div class="products">
                    <div class="status">
                        <div class="info">
                            <h3>All Products </h3>
                            <h1>@Model.products</h1>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="percentage">
                                <p>+81%</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="visits">
                    <div class="status">
                        <div class="info">
                            <h3>Customers</h3>
                            <h1>@Model.customers</h1>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="percentage">
                                <p>+48%</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="searches">
                    <div class="status">
                        <div class="info">
                            <h3>Orders in Current Year (@Model.currentYear)</h3>
                            <h1>@Model.orderInYear</h1>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="percentage">
                                <p>+21%</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="new-users">
                <h2>Founders & Admins</h2>
                <div class="user-list">
                    <div class="user">
                        <img src="~/Images/Logo/alihsen.jpg" />
                        <h2>Ali Hussein</h2>
                        <p>Founder</p>
                    </div>
                    <div class="user">
                        <img src="~/Images/Logo/batoul.jpg
" />
                        <h2>Batoul Shoughri</h2>
                        <p>Founder</p>
                    </div>
                    <div class="user">
                        <a href="/AdminDashboard/AddAdmin"><span class="material-icons-sharp" width="5rem" height="5rem">add</span></a>
                        <h2>Add Admin</h2>
                    </div>
                </div>
            </div>
            <div class="recent-products">
                <h2>Recent Products</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Serial Number</th>
                            <th>Image</th>
                            <th>Brand</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Stock Quantity</th>
                            <th>Supplier Name</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Example product rows -->
                        <tr>
                            <td>@Model.product.SerialNumber</td>
                            <td><img src="/Images/@Model.product.Image" alt="Alternate Text" /></td>
                            <td>@Model.product.Brand</td>
                            <td>@Model.product.Name</td>
                            <td>@Model.product.Price</td>
                            <td>@Model.product.TotalQuantity</td>
                            <td>@Model.product.Supplier</td>
                            <td>@Model.product.Description</td>
                        </tr>
                        <!-- Add more rows as needed -->
                    </tbody>
                </table>
            </div>
        </main>

        <div class="right-section">
            <div class="nav">
                <button id="menu-btn">
                    <span class="material-icons-sharp">menu</span>
                </button>
                <div class="dark-mode">
                    <span class="material-icons-sharp active">light_mode</span>
                    <span class="material-icons-sharp">dark_mode</span>
                </div>
            </div>
            <div class="user-profile">
                <div class="logo">
                    <img src="~/Images/Logo/adminprofile.png" />
                    <h2>@Model.adminName</h2>
                    <p>Computer Shop</p>
                </div>
            </div>
        </div>
    </div>

    <script src="~/js/dashboard.js"></script>
</body>
</html>
